</br></br>

<div class="card card-fixed">
  <br />
  <div class="col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Sprky Chess</h1>
    <br />
    <h2>The most innovative chess game in the world.</h2>
    <br />
    <% if player_signed_in? %>
      <%= link_to "Join Game", available_games_path, class: 'btn btn-info' %>
      <%= link_to "All Games", games_path, class: 'btn btn-info' %>
      <%= link_to "Start a New Game", new_game_path, class: 'btn btn-success' %>
      <% else %>
      <%= link_to 'Register to Get Started!', new_player_registration_path ,class: 'btn btn-warning' %>
      <%= link_to 'Log In if You Already Have an Account!', new_player_session_path ,class: 'btn btn-primary' %>
    <% end %>
    <br />
  </div>
</div>
