<br/><br/>

<div class="card col-xs-10 col-xs-offset-1">
  <h2 class="text-center">Forgot your password?</h2>
  <br/>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %><br/>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Send me password reset instructions", class: 'btn btn-warning center-block' %><br/>
    </div>
  <% end %>
  <div class="text-center">
    <%= render "devise/shared/links" %><br/>
  </div>
</div>
