</br></br>

<div class="container card card-compressed">
  <h1 class="text-center">Available Games</h1>
  <h3 class="text-center">Join one now to start playing!</h3>
  <hr />
  <% @games.each do |game| %>
    <h2 class="text-center"><%= link_to game.name, game_path(game) %></h2>
    <p class="text-center">Created by <b><%= Player.find(game.player_1_id).email %></b> on <%= game.created_at.strftime("%b. %d, %Y") %></p>
    <% if game.player_1_color == "White" %>
      <p class="text-center"><b>Black</b> is available.</p>
    <% elsif game.player_1_color == "Black" %>
      <p class="text-center">White is available.</p>
    <% end %>
      <%= simple_form_for game do |f| %>
        <%= f.hidden_field :player_2_id, value: current_player %>
        <%= f.submit "Join This Game", class: 'btn btn-primary alignedbutton' %>
        <br />
      <% end %>
    <br class="clr" />
  <% end %>
</div>
