<div class="container">
  <br />
  <h3><%= @current_game.name %></h3>
  <h4><%= @player_1_email %> vs <%= @player_2_email %></h4>
  <% if current_player && [ @current_game.player_1_id, @current_game.player_2_id ].include?(current_player.id) %>
    <h4>You are playing as <%= @current_player_color %></h4>
    <h4>Your opponent is playing as <%= @opposite_player_color %></h4>
    <h4>It is currently <%= @player_turn %>'s turn</h4>
  <% else %>
    <h4><%= @player_1_email %> is playing as <%= @current_game.player_1_color %></h4>
    <h4><%= @player_2_email %> is playing as <%= @current_game.player_2_color %></h4>
    <h4>It is currently <%= @player_turn %>'s turn</h4>
    <% end %>

    <div id="chessboard" data-game-id="<%= @current_game.id %>">
      <% col = ["A", "B", "C", "D", "E", "F", "G", "H"]
      row_index = 7
      col_index = 0 %>

      <table>
        <% 8.times do %>
          <tr>
            <% 8.times do %>
              <td class="square" data-x="<%= col_index %>" data-y="<%= row_index %>">
                <div><%= col[col_index] + (row_index+1).to_s %></div>
                <% piece = get_piece_at(col_index, row_index) %>
                <% if piece %>
                  <div class="pieces"><%= piece.html_icon.html_safe %></div>
                <% end %>
              </td>
              <% col_index += 1 %>

            <% end %>
          </tr>

          <% row_index -= 1 %>
          <% col_index = 0 %>
        <% end %>
      </table>
      <br />
  </div>

  <div class="row">

      <div class="col-md-8">
        <% if @game.moves.count > 0 %>
          <h3><%= pluralize(@game.moves.count, 'move') %>, oldest first</h3>
        <% else %>
          <h3>No moves yet.</h3>
        <% end %>
          <ul>
            <% @game.moves.each do |move| %>
              <li>
                <%  position = Position.new_from_int(move.from) %>
                From: <%= position.to_chess_position %> (<%= position.x %>, <%= position.y %>)
                <%  position = Position.new_from_int(move.to) %>
                To: <%= position.to_chess_position %> (<%= position.x %>, <%= position.y %>)
              </li>
              <% end %>
            </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <% if @black_captured_pieces.count == 0 %>
          <h3>Black has not captured anything yet.</h3>
        <% else %>
          <h3>Black's captured pieces:</h3>
          <ul>
            <% @black_captured_pieces.each do |piece| %>
              <li>
                <%= piece.class.name %>
              </li>
              <% end %>
          </ul>
        <% end %>
      </div>

      <div class="col-md-4">
          <% if @white_captured_pieces.count == 0 %>
          <h3>White has not captured anything yet.</h3>
        <% else %>
          <h3>White's captured pieces:</h3>
          <ul>
            <% @white_captured_pieces.each do |piece| %>
              <li>
                <%= piece.class.name %>
              </li>
              <% end %>
          </ul>
        <% end %>
      </div>
    </div>

</div>
<br />
<br />
<br />

    </div>

</div>

<script>
  $(document).ready(function(){
    var gameId = $('#chessboard').data('game-id');
    var from, to;

    var selectedCount = 0;
    $('.square').click(function(ev){
      var square = $(this);
      selectedCount++;
      // 1st or 2nd Selection?
      if(selectedCount == 2){
        //  2nd. Post move
        square.addClass('selected');
        to =  integerConversion(square.data('x'), square.data('y'));
        var payload = {
          move: {
            game_id: gameId,
            from: from,
            to: to
          }
        };
        $.post('/games/' + gameId + "/moves", payload).success(function(data){
          console.log(data);
        });
        selectedCount = 0;
      }else{
        //  1st. Make sure square contains piece
        if(square.find('.pieces').length != 0){
          square.addClass('selected');
          from = integerConversion(square.data('x'), square.data('y'));
        }else{
          alert('Select a piece!');
          selectedCount = 0;
        }
      }
    });

    function integerConversion(x, y){
      console.log(y);
      return (y * 8) + x;
    }
  });
</script>
