<div class="container">
  <br />
    <div class="chessboard">
      <% col = ["A", "B", "C", "D", "E", "F", "G", "H"]
      row_index = 7
      col_index = 0 %>

      <table>
        <% 8.times do %>
          <tr>
            <% 8.times do %>
              <td>
                <div><%= col[col_index] + (row_index+1).to_s %></div>
                <% piece = get_piece_at(col_index, row_index) %>
                <% if piece %>
                  <div class="pieces"><%= piece.html_icon.html_safe %></div>
                <% end %>
              </td>
              <% col_index += 1 %>

            <% end %>
          </tr>

          <% row_index -= 1 %>
          <% col_index = 0 %>
        <% end %>
      </table>
      <br />
  </div>

  <div class="row">
      <div class="col-md-4">
          <h3>Move a Piece</h3>
          <%= simple_form_for Move.new, url: game_moves_path(@game) do |f| %>
            <%= f.input :from, collection: (0..63), as: :select %>
            <%= f.input :to, collection: (0..63), as: :select %>
            <%= f.submit "Create Move", class: 'btn btn-primary' %>
          <% end %>
      </div>

      <div class="col-md-4">
          <h3><%= pluralize(@game.moves.count, 'move') %></h3>
          <ul>
            <% @game.moves.each do |move| %>
              <li>
                <%  position = Position.new_from_int(move.from) %>
                From: <%= position.to_chess_position %> (<%= position.x %>, <%= position.y %>)
                <%  position = Position.new_from_int(move.to) %>
                To: <%= position.to_chess_position %> (<%= position.x %>, <%= position.y %>)
              </li>
              <% end %>
            </ul>
      </div>
    </div>

</div>