<div class="chessboard">
  <% col = ["A", "B", "C", "D", "E", "F", "G", "H"]
  row_index = 7
  col_index = 0 %>
  <!--
    Chess Coordinates (x, y)
    ------------------------------------
    top-left(0, 7), top-right(7,7)
    bottom-left(0, 0), bottom-right(7,0)
  -->

  <table>
    <% 4.times do %>
      <tr>
        <% 4.times do %>
          <td><div class="white"><%= col[col_index] + (row_index + 1).to_s %><p><%= StartingPositions::STARTING_POSITIONS.key([row_index, col_index]) %></p></div></td>
          <% col_index += 1 %>
          
          <td><div class="black"><%= col[col_index] + (row_index + 1).to_s %><p><%= StartingPositions::STARTING_POSITIONS.key([row_index, col_index]) %></p></div></td>
          <% col_index += 1 %>
          
        <% end %>
      </tr>

      <% row_index -= 1
      col_index = 0 %>

      <tr>
        <% 4.times do %>
          <td><div class="black"><%= col[col_index] + (row_index + 1).to_s %><p><%= StartingPositions::STARTING_POSITIONS.key([row_index, col_index]) %></p></div></td>
          <% col_index += 1 %>
          <td><div class="white"><%= col[col_index] + (row_index + 1).to_s %><p><%= StartingPositions::STARTING_POSITIONS.key([row_index, col_index]) %></p></div></td>
          <% col_index += 1 %>
        <% end %>
      </tr>

      <% row_index -= 1
      col_index = 0 %>
    <% end %>
  </table>
</div>

Before Movement:<br /> <%= @pieces.inspect %> <br />
Moves: <br /> <%= @moves.inspect %> <br />
After Movement: <br /> <%= @afterMovementPieces.inspect %> <br />
</div>

