<div class="container-fluid arena">
  <div class="row game-header">
    <%= @current_game %>
  </div>
  <div class="row capture-zone">
    <div class="col-md-4">
      <% if @black_captured_pieces.count == 0 %>
      <% else %>
            <% @black_captured_pieces.each do |piece| %>
                <span class="pieces"><%= piece.html_icon.html_safe %></span>
            <% end %>
      <% end %>
    </div>
  </div>
  <div class="row player-info">
    <div class="col-md-8">
      <%= @black_player.email %>
      <% if @black_player.id == @current_player.id %>
          (you)
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div id="chessboard" data-game-id="<%= @current_game.id %>">
          <% col = ["A", "B", "C", "D", "E", "F", "G", "H"]
          row_index = 7
          col_index = 0 %>

          <table>
            <% 8.times do %>
              <tr>
                <% 8.times do %>
                  <td class="square" data-x="<%= col_index %>" data-y="<%= row_index %>">
                    <div><%= col[col_index] + (row_index+1).to_s %></div>
                    <% piece = get_piece_at(col_index, row_index) %>
                    <% if piece %>
                      <div class="pieces"><%= piece.html_icon.html_safe %></div>
                    <% end %>
                  </td>
                  <% col_index += 1 %>

                <% end %>
              </tr>

              <% row_index -= 1 %>
              <% col_index = 0 %>
            <% end %>
          </table>
          <br />
      </div>
    </div>
    <!--  large(> 1024px screens)-->
    <div class="col-md-4 moves-right">
      <% if @game.moves.count > 0 %>
          <h3><%= pluralize(@game.moves.count, 'move') %></h3>
      <% else %>
          <h3>No moves yet.</h3>
      <% end %>
      <div class="moves-list">
        <ol>
          <% @game.moves.each do |move| %>
              <li>
                <%  position = Position.new_from_int(move.from) %>
                From: <%= position.to_chess_position %> (<%= position.x %>, <%= position.y %>)
                <%  position = Position.new_from_int(move.to) %>
                To: <%= position.to_chess_position %> (<%= position.x %>, <%= position.y %>)
              </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
  <div class="row player-info">
    <div class="col-md-8">
      <%= @white_player.email %>
      <% if @white_player.id == @current_player.id %>
        (you)
      <% end %>
    </div>
  </div>
  <div class="row capture-zone">
    <div class="col-md-4">
      <% if @white_captured_pieces.count == 0 %>
      <% else %>
          <% @white_captured_pieces.each do |piece| %>
            <span class="pieces"><%= piece.html_icon.html_safe %></span>
          <% end %>
      <% end %>
    </div>
  </div>
  <!-- Medium(< 1024px screens -->
  <div class="row moves-bottom">
    <div class="col-md-4">
      <% if @game.moves.count > 0 %>
          <h3><%= pluralize(@game.moves.count, 'move') %></h3>
      <% else %>
          <h3>No moves yet.</h3>
      <% end %>
      <div class="moves-list">
        <ol>
          <% @game.moves.each do |move| %>
              <li>
                <%  position = Position.new_from_int(move.from) %>
                From: <%= position.to_chess_position %> (<%= position.x %>, <%= position.y %>)
                <%  position = Position.new_from_int(move.to) %>
                To: <%= position.to_chess_position %> (<%= position.x %>, <%= position.y %>)
              </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>

</div>
<br />
<br />
<br />

    </div>

</div>

<script>
  $(document).ready(function(){
    var gameId = $('#chessboard').data('game-id');
    var from, to;

    var selectedCount = 0;
    $('.square').click(function(ev){
      var square = $(this);
      selectedCount++;
      // 1st or 2nd Selection?
      if(selectedCount == 2){
        //  2nd. Post move
        square.addClass('selected');
        to =  integerConversion(square.data('x'), square.data('y'));
        var payload = {
          move: {
            game_id: gameId,
            from: from,
            to: to
          }
        };
        $.post('/games/' + gameId + "/moves", payload).success(function(data){
          console.log(data);
        });
        selectedCount = 0;
      }else{
        //  1st. Make sure square contains piece
        if(square.find('.pieces').length != 0){
          square.addClass('selected');
          from = integerConversion(square.data('x'), square.data('y'));
        }else{
          alert('Select a piece!');
          selectedCount = 0;
        }
      }
    });

    function integerConversion(x, y){
      console.log(y);
      return (y * 8) + x;
    }
  });
</script>
